.cart {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem;
  margin: 15rem 0;
  align-items: center;
}

.cart h2 {
  font-size: 4rem;
  font-weight: bolder;
}

.cart p {
  font-size: 2rem;
  color: var(--primary-contrast-dark);
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 2rem 5rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--gray-100);
  color: var(--primary-contrast-dark);
}

.cartItem img {
  width: 20rem;
  height: auto;
  border-radius: 0.5rem;
}

.cartItem h3 {
  font-size: 2rem;
  flex-grow: 1;
}

.cartItem p {
  font-size: 2rem;
}

.cartItem button {
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  background-color: var(--primary);
  color: #111;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cartItem button:hover {
  background-color: var(--primary-dark);
}

.cartItem button:disabled {
  background-color: var(--primary-light);
  cursor: not-allowed;
}

.quantityControls {
  display: flex;
  align-items: center;
  border: 0.25rem solid #111;
  border-radius: 1rem;
  overflow: hidden;
}

.quantityControls span {
  font-size: 2rem;
  margin: 0 2rem;
}

.removeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-dark);
  font-size: 2.5rem;
  margin-left: 2rem;
  transition: background 0.2s;
}

.cartItem .removeButton {
  border-radius: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}